<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
        <%- include('../partials/admin-nav') %>
        <div class="container menus mt-5">
          <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded border border-0 menu-card">
            <div class="card-body">
              <% category.forEach(category => { %>
                <a href="/menu-list/<%= category.categoryid %>" class="nav-link">
                  <div class="card mt-3 border border-0">
                    <div class="image">
                      <img src="/static/img/<%= category.resim %>" class="card-img-top ">
                    </div>
                    <div class="card-body">
                      <div class="row">

                        <div class="col-10">
                          <div><%= category.name %></div>
                        </div>
  
                        <div class="col-2">
                          <i class="fa-solid fa-arrow-right"></i>
                        </div>

                      </div>
                    </div>
                  </div>
                </a>
              <% }) %>
            </div>
          </div>
        </div>
</body>
</html>