<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
      <%- include('../partials/backButton') %>
      <!-- <div class="row">
        <div class="col">
          <div class="row">
            <% urun.forEach(urun => { %>
              <h2 class="urun-name text-center text-dark mt-3 "><%= urun.name %></h2>
              <div class="col-3 border-bottom mt-3">
                <img src="/static/img/<%= urun.resim %>" class="" alt="..." width="100%">
              </div>
              <div class="col-9 border-bottom mt-3">
                <p class=""><%= urun.aciklama %></p>
                <b class="float-end text-danger"><%= urun.fiyat %> TL</b>
              </div>
            <% }) %>
          </div>
        </div>
      </div> -->

      <!-- <div class="row menu mt-5 ">
        <% urun.forEach(urun => { %>
          <div class="col-3 mb-5  urun-ad border-bottom">
            <h2 class="urun-name text-center  mt-3 text-dark"><%= urun.name %></h2>
          </div>
          <div class="col-8 mb-5 urun-aciklama text-center text-secondary border-bottom">
            <p class=""><%= urun.aciklama %></p>
          </div>
          <div class="col-1 mb-5 urun-fiyat border-bottom">
            <b class="float-end text-danger"><%= urun.fiyat %> TL</b>
          </div>
        <% }) %>
      </div> -->

      <div class="card mt-5">
        <div class="card-body">
          <% urun.forEach(urun => { %>
            <div class="row p-3 border-bottom">
              <div class="col-8">
                <h2><%= urun.name %></h2>
                <p class="text-secondary"><%= urun.aciklama %></p>
                <b class="text-danger "><i class="fa-solid fa-turkish-lira-sign"></i><%= urun.fiyat %></b>
              </div>

              <div class="col-4">
                <div class="image">
                  <img src="/static/img/<%= urun.resim %>" alt="" class="card-img-top rounded" width="100%">
                </div>
              </div>
            </div>
          <% }) %>
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <%- include('../partials/footer') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>